<h1>Roles</h1>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @roles.each do |role| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= role.name %></h5>
        </div>
        <div class="card-footer text-muted">
          <%= "created at #{role.created_at.strftime('%b %d, %Y')}" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
