<div class="topbar">
  <div id="menu-toggle" class="toggle"></div>
  <div class="search">
    <label>
      <input type="text" placeholder="Search here">
      <i class="fa fa-search" aria-hidden="true"></i>
    </label>
  </div>
  <div class="user">
    <%= image_tag("user.jpeg", alt: "User", width: "60px") %>
  </div>
</div>